.signup {
  display: grid;
  width: 1024px;
  max-width: 100%;
  border: 10px;
  margin: 20px auto;
  background-color: #f5f5f5;
}

.app {
  display: grid;
  //gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "content content sidebar"
    "app app app"
    "footer footer footer"
;
  width: 1024px;
  max-width: 100%;
  margin: auto;
  background-color: #f5f5f5;

  .header {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    margin: 20px auto;

    .logo {
      flex: 1;
    }
  }
  .applications {
    grid-area: app;
    margin-inline: 10px;
    //justify-self: center;
    //margin: 10px auto;
  }
  .footer {
    grid-area: footer;
    margin-inline: 10px;
    margin-left: 20px;
    position : relative;

    .notice{
      font-size: 18px;
      font-family: "Arial Black";
    }
    .contact{
      font-size: 18px;
      font-family: "Arial Black";
      text-align: center;
    }
  }
}



